---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"beginner">["data"] & { slug: string };
const { title, pubDate, slug, illustration } = Astro.props;
import FormattedDate from "@/components/FormattedDate.astro";
---

<li
  class="border-e-green-400 text-soft-white hover:bg-green-300/85 bg-transparent rounded-xl border border-green-400 transition-all duration-200 hover:scale-105 transform hover:shadow-xl overflow-hidden"
>
  <div transition:name={title}>
    <article>
      <a href={`/beginner/${slug}`} target="_parent" rel="noopener">
        <div class="w-full relative">
          <div class="flex flex-col px-12 py-4">
            <div
              class="absolute size-3/6 top-0 right-0 mt-12 -mr-8 hover:scale-105 duration-1000 ease-in-out group-hover:scale-110"
            >
              <Image src={illustration} alt="" width={500} height={500} />
            </div>
            <h4 class="text-3xl font-bold text-slate-700 dark:text-white">
              {title}
            </h4>
            <div class="flex justify-center items-center flex-wrap gap-2"></div>
            <FormattedDate date={pubDate} />
          </div>
        </div>
      </a>
    </article>
  </div>
</li>
